.mapa{
  background-color: #252525;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  padding: 20px 50px;

  margin-top: 75px;
}
.mapa h1{
  font-size: 30px;
  color: white;
  font-family: roboto;
}
.mapa span{
  color: #FEC63E;
  margin-right: 20px;
}
.fnn{
  height: auto;
  background-color: #FEC63E;
  text-align: center;
  padding: 10px 0px;
}