.blogin{
  background-color: #333;
 
  
}

.login{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login img{
  width: 300px;
  margin: 20px auto;
}
.login h1{
  font-family: roboto;
  color: #252525;
  letter-spacing: 1px;
}
.log_cont{
  width: 330px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px 20px;
}
.intens_cont{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.intens_cont input{
  border-style: none;
  border: #252525 solid 2px;
  margin-bottom: 10px;
  padding: 8px 5px;
  border-radius: 5px;
  margin-top: 20px;

}

.btn{
  background: #FEC63E;
  font-size: 17px;
  font-weight: bold;
  color: #252525;
  letter-spacing: 1px;
  cursor: pointer;
}
.log_cont a {
  color: #252525;
  margin-bottom: 10px;

}
.btn:hover{
  background: #ddaa33;
}