/* RETIRANDO MARGIN E PADDING DOS ELEMENTOS */
*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;/* o border box serve para que p padding fique sempre internamente no objeto e assim evita que ele aumente de tamanho */
}

/* cabeçalho do site */
.header{
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 90px;
  height: auto;
  border-bottom: 6px #FEC63E solid;
}
/* titulo */
header div img{
  width: 300px;
  
  display: block;
}
/* navegação */

.navegacao ul{
  display: flex;
  list-style: none;
  align-items: center;
  
  height: 100%;
}
.navegacao ul li{
  margin-left: 5px;
  transition: .3s;
  cursor: pointer;
}

.navegacao ul li a{
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: white;

  padding: 10px 5px;
   
}

.navegacao ul li:nth-of-type(5){
 transition: .3s;
 color: #333 !important;
  padding: 3px 0px;
   border-radius: 5px 0px 5px;
   background-color: rgb(255, 255, 255);
}
.cte{
  color: #252525 !important;
}

.cadastrom{
  color: #252525 !important;
  background-color: white;
  border-radius: 5px;
  padding: 5px 5px;
  transition: .3s;
  height: 40px !important;
} 
.cadastrom:hover{
  background-color: #FEC63E;
}



/* APRESENTAÇÃO CAFES COM A CARA DO BRASIL */
.cafebr{
  background-image: url("/site/img/bannerteste.png");
  background-size: cover;

  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cafebr h1 span{
  color: white;
  font-family: "Alfa Slab One", cursive;

  font-size: 40px;
  font-weight: 300;
}
.cafebr h1 .cafebrtitulo{
  text-shadow: rgba(0, 0, 0, 0.329) 0px 0px 10px, rgba(0, 0, 0, 0.329) 0px 0px 15px;
  color: rgb(254, 198, 62);
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 20px;
  font-size: 50px;
  font-weight: 300;
  
}
.cafebr h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FEC63E;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 10px;
  font-size: 40px;
  font-weight: 300;
  
}

.brko::after{
  content: "";
  display: block;
  background-color: #FEC63E;
  height: 4px;
  width: 50px;
  position: relative;
  left: 40%;
  margin:10px 0px;
  
}

/* broke */
.broke{
  background-color: #252525;
  border-top: 6px solid #FEC63E;
  padding: 15px 0px;
  text-align: center;
}
.broke img{
  margin: 0 auto;
 
  width: 55px;
}

/* PARTE MOBILE CONTROLES */
@media only screen and (max-width: 930px) {
  .navegacao ul li:hover{
    background: #FEC63E;
  }
  .header{
    flex-direction: column;
    padding: 0px 5px;
  }
  .navegacao{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .navegacao ul{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    
  }
  .navegacao ul li a{
    font-size: 17px;
    padding: 10px 0px;
   
   
  }
  .navegacao ul li{
    background: #333;
    border-radius: 3px;
    padding: 10px 0px;
    margin-bottom: 10px;
     text-align: center;
    width: 45%;
  }
  .cadastrom{
    background-color: red;
   margin: 0 auto;
  }
 
}

@media only screen and (max-width: 378px) {
  
  .cafebr h1{
    background: rgba(0, 0, 0, 0.158);
    padding: 10px 5px;
  }
  .cafebr h1 span{
  
    font-size: 25px !important;
  }

  .navegacao ul li:nth-of-type(5){
    padding: 10px 5px;
  }

  .header{
   
    justify-content: center;
    padding: 0px;
  }

  .header img{
  
    width: 100%;
  }
  .header .navegacao{
  
    width: 100%;
    justify-content: center;
  
  }
  .header .navegacao ul{
   
    padding-right: 25px;
  }

}