.planos{
  height: auto;
  background-image: url("/img/planos.png");
  background-size: cover;
}
.titulo{
  color: white;
    padding: 35px;
    padding-top: 45px;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.cont_plan{
  text-align: center;
    line-height: 30px;
    color: rgb(254, 198, 62);
    height: 300px;
    width: 290px;
    background-color: rgb(37, 37, 37);
    text-transform: uppercase;
    font-size: 25px;
    border-radius: 20px;
   margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.plano{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plano h1{
  font-family: roboto;
  letter-spacing: 1px;
  margin-bottom: 35px;
}
.plano span{
  color: white;
  margin-bottom: 35px;
}

.plano a{
  text-decoration: none;
  color: #252525;
  background:  rgb(254, 198, 62);
  padding: 20px 10px;
  width: 260px;
  border-radius: 5px;
  font-size: 18px;
}
.plano a:hover{
  background:  rgb(248, 207, 113);
}
.pln{
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}