.body-planos {
  background-image:url(img/wooden-door-3652660_1920-2.jpg);
  background-repeat: no-repeat;
}
.header{
    background-color: #232323;
    color: white;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}    
.planos {
    text-align: center;
    line-height: 30px;
    color: rgb(254, 198, 62);
    height: 350px;
    width: 450px;
    float: left;
    background-color: #232323;
    text-transform: uppercase;
    margin-left: 2.6%;
    font-size: 30px;
    padding-top: 2%;
    border-radius: 20%;
}
.box-planos{
    margin-top: 10%;
}
.btn-planos{
    background-color:  rgb(254, 198, 62);;
    border-radius: 10px;
    width: 290px;
    height: 70px;
    margin-top: 30%;
    font-weight: bold;
    font-size: 20px;
}