body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.header {
  background-color: rgb(37, 37, 37);
  color: white;
  overflow: auto;
  border-bottom: 4px solid rgb(254, 198, 62);
  padding: 10px 0;
}

.header img {
  margin-right: 5px;
  float: left;
  height: 43px;

}

.navbar {
  list-style: none;
  float: right;
}

.navbar li {
  float: left;
  margin-left: 15px;
  text-transform: uppercase;
}

.titulo {
  margin: 0;
  float: left;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: white;
}

.banner {
  background-color: rgb(37, 37, 37); 
  background-image: url(../img/banner-padrão.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.lettering {
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 40px;
  font-family: 'Montserrat', sans-serif;
}

.lettering span {
  text-transform: uppercase;
}

.lettering .cafe {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 0 15px rgba(0, 0, 0, 0.8);
  color: rgb(254, 198, 62);
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 20px;
}
.lettering .brasil {
  text-shadow:  0 0 10px rgba(0, 0, 0, 0.4), 0 0 15px rgba(0, 0, 0, 0.8);
  font-family: 'Alfa Slab One', cursive;
  line-height: 105px;
  letter-spacing: 15px;
  border-bottom: rgb(254, 198, 62) solid 5px;
  border-top: rgb(254, 198, 62)  solid 5px;
}

.div-cafe-img {
  padding: 25px;
  text-align: center;
  margin: 0;
  background-color: rgb(37, 37, 37);
  border-top: 4px solid rgb(254, 198, 62);
}

.div-cafe-img img {
  height: 50px;
}

.box {
  overflow: auto;
}

h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  color: rgb(37, 37, 37);
  margin-top: 60px;
}

.box-item {
  float: left;
  text-align: center;
  margin: 30px;
  color: white;
}

.box-item div {
  height: 145px;
  width: 270px;
  padding: 25px;
  box-shadow: 15px 10px 15px darkgrey;
}

.box-item-share1 {
  background-color: rgb(254, 198, 62);
  border-radius: 20px 20px 0 0;
}

.box-item-share2 {
  background-color: rgb(37, 37, 37);
  border-radius: 0 0 20px 20px;
}


.box-item h3 {
  color: rgb(254, 198, 62);
  text-transform: uppercase;
  margin: auto;
}

.box-item img {
  height: 130px;
}

.botao-orcamento {
  text-align: center;
  margin: 50px;
}

.botao-orcamento button {
  height: 50px;
  width: 250px;
  border-radius: 25px;
  background-color: rgb(254, 198, 62);
  border: none;
  outline: none;
  color: rgb(37, 37, 37);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.box-coffee {
  height: 600px;
}

.box-item-coffee {
  background-color: rgb(229, 229, 229);
  box-shadow: 10px 10px rgb(128, 128, 128);
  float: left;
  margin: 20px;
  padding: 35px;
  height: 350px;
  width: 270px;
  border-radius: 30px;
  text-align: center;
  align-items: center;
}

.box-coffee h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  color: rgb(37, 37, 37);
  margin-top: 60px;
}

.box-item-coffee h3 {
  text-transform: uppercase;
}

.box-item-coffee .circle {
  box-shadow: 10px 10px rgb(128, 128, 128);
  margin: auto;
  margin-bottom: 50px;
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

.paulista {
  background-color: rgb(114, 69, 14);
}

.carioca {
  background-color: rgb(204, 137, 89);
}

.mineiro {
  background-color: rgb(235, 177, 42);
}

.plano {
  background-image: url(../img/bannerteste.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.plano h1 {
  color: white;
  padding: 35px;
  padding-top: 45px;
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.planos h4 {
  color: white;
  font-size: 45px;
}

.planos {
  text-align: center;
  line-height: 30px;
  color: rgb(254, 198, 62);
  height: 300px;
  width: 290px;
  float: left;
  background-color: rgb(37, 37, 37);
  text-transform: uppercase;
  font-size: 30px;
  padding: 35px;
  margin: 10px;
  margin-top: 30px;
  border-radius: 20px;
}

.btn-planos{
  background-color:  rgb(254, 198, 62);;
  border-radius: 30px;
  width: 290px;
  height: 70px;
  font-weight: bold;
  font-size: 20px;
}

/* Contato */

.box-contato {
  height: 980px;
  margin-bottom: 1%;
}

.contato {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.bk_contato {
  background-image: url(../img/contato-edit.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo_contato {
  color: white;
  font-size: 100px;
  width: 480px;
  background-color: rgb(37, 37, 37);
  border: solid 1px rgb(254, 198, 62);
  border-radius: 30px 0px 30px;
  padding: 1%;
  margin: 0;
}

/* 
.titulo_contato::after {
  content: "";
  display: block;
  background: #333;
  height: 5px;
  margin: 5px auto;
}

.titulo_contato::before {
  content: "";
  display: block;
  background: #333;
  height: 5px;
  margin: 2px auto;
} */

.cont_contato {

  display: flex;
  width: 97%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cont_contato form {

  display: flex;
  flex-direction: column;
  width: 30%;

}

.formu {
  padding-top: 40px;
  min-width: 400px;
}

.formu label {
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
  letter-spacing: 1px;
}

.formu input {
  margin-bottom: 16px;
  padding: 10px 5px;
  border-radius: 5px;
  border-style: none;
  border: 3px solid #333;
}

.formu textarea {
  border-radius: 5px;
  border-style: none;
  border: 3px solid #333;
  height: 100px;

}

#btn {
  cursor: pointer;
  border-style: none;
  border: 3px solid #333;
  padding: 10px;
  width: 200px;
  margin: 0 auto;
  margin-top: 32px;
  font-weight: bold;
  color: white;
  border-radius: 10px 0px 10px;
  background-color: rgb(37, 37, 37);;
}

#btn:hover {
  background: rgb(37, 37, 37);
  border: 3px solid rgb(37, 37, 37);
}

.dados {
  padding-top: 40px;
  width: 50%;
}

.dados h1 {
  color: rgb(37, 37, 37);
  font-size: 24px;
  margin-top: 0;
  text-align: left;
}

.dados ul {
  list-style: none;

}

.dados ul li {
  margin-bottom: 8px;
  font-weight: bold;
  color: rgb(37, 37, 37);
  font-size: 15px;
  margin-left: -39px;
}

.img-mapa {
  height: 240px;
  width: 600px;
  background-image: url("../img/mapa.png");
  max-width: 600px;
  cursor: pointer;
  border-radius: 10px;  
  box-shadow: 15px 10px 15px darkgrey; 
}

/* footer */

.footer {
  overflow: auto;
  margin-top: 32px;
}

.footer .box-top {
  padding: 32px;
  height: 24px;
  background-color: rgb(37, 37, 37);
  color: white;
}

.footer h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  float: left;
  margin: 0;
}

.map-style {
  color: rgb(254, 198, 62);
}

.footer-navbar {
  list-style: none;
  float: left;
  margin: 0;
}

.footer li {
  text-transform: uppercase;
  float: left;
  margin-left: 16px;
}

.footer .box-bottom {
  height: 24px;
  background-color: rgb(254, 198, 62);
  text-align: center;
  padding: 8px;
}


/* Sobre */


.sobre {
  overflow: auto;
}

.sobre .destaque {
  color: rgb(235, 177, 42);
}

.sobre img {
  height: 450px;
  border-radius: 25px;
}

.sobre_item1 {
  height: 450px;
  padding: 5%;
}

.sobre_item2 {
  height: 450px;
  padding: 5%;
}

.sobre_item1 img {
  float: left;
}

.sobre_item2 img {
  float: right;
} 

.sobre p {
  margin-top: 150px;
}

.sobre_item1 h3 {
  float: left;
  margin-top: 35px;
  margin-left: -32px;
  width: 300px;
  font-size: 45px;
  text-transform: uppercase;
}

.sobre_item2 h3 {
  float: right;
  margin-right: -32px;
  text-align: right;
  margin-top: 35px;
  width: 300px;
  font-size: 45px;
  text-transform: uppercase;
}

.sobre_item2 p {
  float: left;
  width: 500px;
}

.sobre_item1 p {
  float: right;
  width: 500px;
}



/* .navbar {
  list-style: none;
  float: right;
}

.navbar li {
  float: left;
  margin-left: 15px;
  text-transform: uppercase;
} */

a{
  text-decoration: none;
  color: white;
}


/* Dashboard */
