/* Style do plano de fundo, não o deixando repetir e deixando fixo. */
body {
    background-image: url(Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Style da div (caixa), arrumando a posição na tela, centralizando e modificando a cor. */
.Caixa {
   width: 495px;
   padding: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   text-align: center;
   transform: translate(-50%, -50%);
   background-color: rgba(0, 0, 0, 0.192);
}

/* Style do h1 (texto parrudo) mudando a cor para branco,a fonte e criação de uma linha verde debaixo do texto. */
.Caixa h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: 5px #254b3e underline;
}

/* Style do input, tirando a borda, deixando apenas a debaixo, cor branca, fundo transparente. */
.Caixa input {
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    text-align: center;
    outline: none;
}

/* Style dos botões, aumentando o espaço entre eles, dando cor, aumentando o tamanho dos botões, mudando a cor. */
.Caixa button {
    border-radius: 24px;
    margin: 10px;
    background-color: #254b3e;
    color: white;
    border: 2px solid #254b3e;
    outline: none;
    padding: 14px 40px;
}

/* Mudança da cor quando passar o mouse em cima dos botões. */
.Caixa button:hover {
    background-color: #113025;
    border: 2px solid #113025;
}

/* Style do b (bold), modificando a fonte e a cor. */
.Caixa b {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Modifica a cor do placeholder. */
::placeholder {
    color: white;
}

/* Posiciona a logo da Bolt Tech no canto inferior direito da página.*/
.logo {
    width: 10%;
    left: 89%;
    top: 95%;
    position: absolute;
}

/* Quando clickar no input (caixa de texto), a animação deve levar 0.5 segundos, a cor fica verde água e o tamanho aumenta para 200px.*/
.Caixa input:focus {
    transition: 1s;
    width: 200px;
    border-bottom: 2px solid #08d68e;
}